<%- include('_header') %>

        <div class="text-center">
            <h1>Stores List</h1>
            <p>Total Store : <%= data.length %>
            </p>
        </div>

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Store Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Description</th>
                    <th scope="col">Join Date</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((el,index)=> { %>
                    <tr>
                        <th scope="row">
                            <%= index + 1 %>
                        </th>
                        <td>
                            <%= el.name %> - <%= el.User.username %>
                        </td>
                        <td>
                            <%= el.address %>
                        </td>
                        <td>
                            <%= el.description %>
                        </td>
                        <td>2025 / static</td>
                    </tr>

                    <% }) %>
            </tbody>
        </table>


        <%- include('_footer') %>