<%- include('_header') %>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Product Name</th>
        <th scope="col">Stock</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Store Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach(el => { %>
            <tr>
              <th scope="row"><img src="" alt=""></th>
              <td><%= el.name %></td>
              <td><%= el.stock %></td>
              <td><%= formatPrice(el.price) %></td>
              <td><%= el.description %></td>
              <td><%= el.Store.name %></td>
              <td>
                <a href="/<%= el.id %>/addtocart" class="btn btn-primary">Add to Cart</a>
              </td>
            </tr>
         
        <% }) %>
    </tbody>
  </table>




<%- include('_footer') %>